#### SQLite3 (CRUD Operations)

1. SQL (Structured Query Language) is a standard language for managing and manipulating relational databases

2. SQlite is a self-contained, serverless, zero-configuration database engine that is widely used for embedded database systems

In [8]:
## To import SQLite3

import sqlite3

In [9]:
## Connect to an SQLite database (Open Connection)

connection = sqlite3.connect('example.db')
connection
## after running this statement, a new file named 'example.db' will be created in the local machine

In [10]:
cursor = connection.cursor()

##### What a cursor is

    A cursor is an object that:

        Executes SQL commands (SELECT, INSERT, UPDATE, etc.).

        Stores the context of the query and lets you fetch rows (fetchone(), fetchall()).

In [11]:
## Create a Table

cursor.execute('''
create table if not exists employees(
               ID INTEGER PRIMARY KEY AUTOINCREMENT,
               Name Text Not Null,
               Age Int,
               Department Text)
''')

## To commit the changes
connection.commit()

In [12]:
cursor.execute('''
select * from employees
               ''')

In [13]:
## Insert Data into Table
cursor.execute('''
Insert INTO employees(name, age, department)
               values('Sai',23,'AI')''')

cursor.execute('''
Insert INTO employees(name, age, department)
               values('Dora',26,'ML')''')

cursor.execute('''
Insert INTO employees(name, age, department)
               values('Ram',27,'DS')''')

connection.commit()

In [14]:
## Query the data from the table

cursor.execute('''
select * from employees''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Sai', 23, 'AI')
(2, 'Dora', 26, 'ML')
(3, 'Ram', 27, 'DS')

In [15]:
## Update the Data in Table

cursor.execute('''
update employees
               set age=30
               where ID==3''')

connection.commit()

In [17]:
## Query the table

cursor.execute('''
select * from employees''')

rows = cursor.fetchall()

for row in rows:
    print(row)

## IN this updated result, Age is set 30 where ID==3

(1, 'Sai', 23, 'AI')
(2, 'Dora', 26, 'ML')
(3, 'Ram', 30, 'DS')

In [18]:
## Delete the data from the table

cursor.execute('''
delete from employees
               where ID==2''')

connection.commit()

In [20]:
## Query the data from the table

cursor.execute('''
select * from employees''')

rows = cursor.fetchall()

for row in rows:
    print(row)

## 2d row got deleted

(1, 'Sai', 23, 'AI')
(3, 'Ram', 30, 'DS')

#### Practical Example on SQLite3

In [23]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

## Always mention primary key with autoincrement as integer but not int
cursor.execute('''
create table if not exists SALES
               (ID Integer Primary Key Autoincrement,
               DATE TEXT NOT NULL,
               PRODUCT TEXT NOT NULL,
               SALES INTEGER,
               REGION TEXT)
               ''')

connection.commit()

In [27]:
## To insert bulk data into sales table

sales_data = [('2022-10-22', 'Product1', 500, 'Delhi'),
              ('2022-10-22', 'Product2', 250, 'Banglr'),
              ('2022-10-22', 'Product3', 560, 'Goa'),
              ('2022-10-22', 'Product4', 300, 'Vijayawada')]

cursor.executemany('''
INSERT INTO SALES('DATE', 'PRODUCT', 'SALES', 'REGION')
                   values(?,?,?,?)''', sales_data)

connection.commit()

In [28]:
## To retrieve the data

cursor.execute('''
select * from SALES''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2022-10-22', 'Product1', 500, 'Delhi')
(2, '2022-10-22', 'Product2', 250, 'Banglr')
(3, '2022-10-22', 'Product3', 560, 'Goa')
(4, '2022-10-22', 'Product4', 300, 'Vijayawada')

In [29]:
## To close the connection to the database

connection.close()

In [30]:
## After closing the connection, we can't query the database

cursor.execute('''
select * from SALES''')

rows = cursor.fetchall()

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.