# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A', 'B', 'C', 'D'])
print(df)
print()

df.set_index('A', inplace=True)
print('DataFrame with 1st Column as Index')
print(df)

    A   B   C   D
0  18   2  59  92
1  32   1  26  86
2  40  61  50  26
3  88  53  24  30
4  51  42   6  74
5  55  78  25   9

DataFrame with 1st Column as Index
     B   C   D
A
18   2  59  92
32   1  26  86
40  61  50  26
88  53  24  30
51  42   6  74
55  78  25   9

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [4]:
df = pd.DataFrame(np.random.randint(1,9,size=(3,3)), columns=['A','B','C'], index=['X', 'Y', 'Z'])
print("Original DataFrame")
print(df)
print()

print("Element at Yth row and Bth column")
print(df.at['Y', 'B'])

Original DataFrame
   A  B  C
X  5  4  3
Y  8  6  7
Z  4  2  1

Element at Yth row and Bth column
6

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [5]:
df = pd.DataFrame(np.random.randint(1,10,size=(5,3)), columns=['A', 'B', 'C'])
print("Original DataFrame")
print(df)
print()

df['D'] = df['A']*df['B']
print("New DataFrame")
print(df)

Original DataFrame
   A  B  C
0  8  2  8
1  3  2  2
2  2  7  9
3  2  8  7
4  2  3  5

New DataFrame
   A  B  C   D
0  8  2  8  16
1  3  2  2   6
2  2  7  9  14
3  2  8  7  16
4  2  3  5   6

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [6]:
df = pd.DataFrame(np.random.randint(1,12,size=(4,3)), columns=['A', 'B', 'C'], index=['a', 'b', 'c', 'd'])
print("Original DataFrame")
print(df)
print()

row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)
print("Row Wise Sum")
print(row_sum)
print()

print("Column Wise Sum")
print(column_sum)

Original DataFrame
   A  B   C
a  3  6   5
b  1  3  10
c  3  6   1
d  9  2   6

Row Wise Sum
a    14
b    14
c    10
d    17
dtype: int64

Column Wise Sum
A    16
B    17
C    22
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [7]:
df = pd.DataFrame(np.random.randint(1,12,size=(5,3)), columns=['A', 'B', 'C'], index=['a', 'b', 'c', 'd', 'e'])
print("Original DataFrame")
print(df)
print()

df.loc['a', 'A'] = np.nan
df.loc['b', 'B'] = np.nan
df.loc['c', 'B'] = np.nan
df.loc['d', 'C'] = np.nan
print("DataFrame with NaNs")
print(df)
print()

df.fillna(df.mean(), inplace=True)
print("Filling NaNs with respective column averages")
print(df)

Original DataFrame
   A   B  C
a  8   1  1
b  5   2  3
c  5  11  6
d  2   2  8
e  9   1  2

DataFrame with NaNs
     A    B    C
a  NaN  1.0  1.0
b  5.0  NaN  3.0
c  5.0  NaN  6.0
d  2.0  2.0  NaN
e  9.0  1.0  2.0

Filling NaNs with respective column averages
      A         B    C
a  5.25  1.000000  1.0
b  5.00  1.333333  3.0
c  5.00  1.333333  6.0
d  2.00  2.000000  3.0
e  9.00  1.000000  2.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [8]:
df = pd.DataFrame(np.random.randint(1,10,size=(6,4)))
print("Original DataFrame")
print(df)
print()

df.iloc[0,0] = np.nan
df.iloc[0,3] = np.nan
df.iloc[2,1] = np.nan
df.iloc[4,2] = np.nan
print("DataFrame with NaNs")
print(df)
print()

df.dropna(inplace=True)
print("After dropping the rows with NaNs")
print(df)

Original DataFrame
   0  1  2  3
0  7  4  6  6
1  5  5  8  3
2  2  5  5  5
3  9  4  5  5
4  3  2  5  5
5  7  1  5  2

DataFrame with NaNs
     0    1    2    3
0  NaN  4.0  6.0  NaN
1  5.0  5.0  8.0  3.0
2  2.0  NaN  5.0  5.0
3  9.0  4.0  5.0  5.0
4  3.0  2.0  NaN  5.0
5  7.0  1.0  5.0  2.0

After dropping the rows with NaNs
     0    1    2    3
1  5.0  5.0  8.0  3.0
3  9.0  4.0  5.0  5.0
5  7.0  1.0  5.0  2.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [9]:
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Values': np.random.randint(1,100,size=10)})
print("Original DataFrame")
print(df)
print()

print("Category Wise Sum")
grouped_sum  = df.groupby('Category')['Values'].sum()
print(grouped_sum)
print()

print("Category Wise Mean")
grouped_mean = df.groupby('Category')['Values'].mean()
print(grouped_mean)

Original DataFrame
  Category  Values
0        B       6
1        C      90
2        B      66
3        C      75
4        A      56
5        B      43
6        C       8
7        A      20
8        A      89
9        A       6

Category Wise Sum
Category
A    171
B    115
C    173
Name: Values, dtype: int64

Category Wise Mean
Category
A    42.750000
B    38.333333
C    57.666667
Name: Values, dtype: float64

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [10]:
df = pd.DataFrame({'Product':np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category':np.random.choice(['A', 'B', 'C'], size=10), 'Sales':np.random.randint(1,100,size=10)})
print("Original DataFrame")
print(df)
print()

print("Category Wise Total Sales")
category_sales = df.groupby('Category')['Sales'].sum()
print(category_sales)

Original DataFrame
  Product Category  Sales
0   Prod2        A     79
1   Prod3        C     50
2   Prod1        C     51
3   Prod1        C     99
4   Prod3        A     16
5   Prod1        C     31
6   Prod3        C     30
7   Prod2        C     13
8   Prod1        B      4
9   Prod3        C     39

Category Wise Total Sales
Category
A     95
B      4
C    313
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [11]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D', 'E'], 'value1':np.random.randint(1,100,size=5)})
df2 = pd.DataFrame({'key':['A', 'C', 'C', 'E', 'F'], 'value2':np.random.randint(1,100,size=5)})
print("Original DataFrame 1")
print(df1)
print()
print("Original DataFrame 2")
print(df2)
print()

print("Merged DataFrame")
merged_data = pd.merge(df1, df2, on='key')
print(merged_data)

Original DataFrame 1
  key  value1
0   A      84
1   B      92
2   C      76
3   D      72
4   E      43

Original DataFrame 2
  key  value2
0   A      58
1   C      80
2   C      30
3   E      93
4   F      47

Merged DataFrame
  key  value1  value2
0   A      84      58
1   C      76      80
2   C      76      30
3   E      43      93

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [12]:
df1 = pd.DataFrame({'A':np.random.randint(1,100,size=3), 'B':np.random.randint(1,100,size=3)})
df2 = pd.DataFrame({'C':np.random.randint(1,100,size=3), 'D':np.random.randint(1,100,size=3)})
print("Original DataFrame 1")
print(df1)
print()
print("Original DataFrame 2")
print(df2)
print()

print("Concatenated DataFrame using rows")
concatenated_df = pd.concat([df1,df2], axis=0)
print(concatenated_df)
print()

print("Concatenated DataFrame using columns")
concatenated_df = pd.concat([df1, df2], axis=1)
print(concatenated_df)

Original DataFrame 1
    A   B
0  45  90
1  16  79
2  46  49

Original DataFrame 2
    C   D
0  56  58
1  96  41
2  68  62

Concatenated DataFrame using rows
      A     B     C     D
0  45.0  90.0   NaN   NaN
1  16.0  79.0   NaN   NaN
2  46.0  49.0   NaN   NaN
0   NaN   NaN  56.0  58.0
1   NaN   NaN  96.0  41.0
2   NaN   NaN  68.0  62.0

Concatenated DataFrame using columns
    A   B   C   D
0  45  90  56  58
1  16  79  96  41
2  46  49  68  62

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [21]:
## Time series analysis

date_rng = pd.date_range(start='2025-01-01', end='2025-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100, size=(len(date_rng)))
## Time Series analysis will be done on Time index or date index
df.set_index('date', inplace=True)
print("Original DataFrame")
print(df)
print()

## resample the DataFrame for monthly mean instead of daily data
monthly_mean = df.resample('ME').mean()
print("Monthly Mean")
print(monthly_mean)

Original DataFrame
            data
date
2025-01-01    92
2025-01-02    36
2025-01-03    67
2025-01-04    22
2025-01-05    55
...          ...
2025-12-27    41
2025-12-28    18
2025-12-29    47
2025-12-30    94
2025-12-31    40

[365 rows x 1 columns]

Monthly Mean
                 data
date
2025-01-31  51.967742
2025-02-28  46.178571
2025-03-31  49.354839
2025-04-30  41.600000
2025-05-31  54.258065
2025-06-30  48.200000
2025-07-31  45.677419
2025-08-31  51.870968
2025-09-30  57.633333
2025-10-31  51.161290
2025-11-30  51.000000
2025-12-31  46.064516

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [26]:
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame")
print(df)
print()

rolling_mean = df.rolling(window=7).mean()
print("Rolling Mean")
print(rolling_mean)
print()

print("Top 20 rows in the Rolling Mean")
rolling_mean.head(20)

Original DataFrame
            data
date
2021-01-01    52
2021-01-02    98
2021-01-03     1
2021-01-04    10
2021-01-05    17
...          ...
2021-12-27     6
2021-12-28    58
2021-12-29    62
2021-12-30    35
2021-12-31    79

[365 rows x 1 columns]

Rolling Mean
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  31.142857
2021-12-28  34.714286
2021-12-29  43.285714
2021-12-30  39.142857
2021-12-31  42.571429

[365 rows x 1 columns]

Top 20 rows in the Rolling Mean

                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
2021-01-06        NaN
2021-01-07  32.857143
2021-01-08  37.571429
2021-01-09  28.142857
2021-01-10  38.571429
2021-01-11  38.571429
2021-01-12  44.714286
2021-01-13  42.428571
2021-01-14  43.571429
2021-01-15  36.714286
2021-01-16  39.285714
2021-01-17  36.285714
2021-01-18  35.428571
2021-01-19  27.857143
2021-01-20  25.571429

## Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [35]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'Sub-Category'))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("Original DataFrame with Multi-Index")
print(df)
print()

print('Indexing at Category A')
print(df.loc['A'])
print()

print('Slicing at Category B and Sub-Category two')
print(df.loc['B','two'])

Original DataFrame with Multi-Index
                       Value1  Value2  Value3
Category Sub-Category
A        one               78      74      83
         two               38      79      36
B        one                1      62       6
         two               37      14      43

Indexing at Category A
              Value1  Value2  Value3
Sub-Category
one               78      74      83
two               38      79      36

Slicing at Category B and Sub-Category two
Value1    37
Value2    14
Value3    43
Name: (B, two), dtype: int64