# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

### Answers

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
new_tup = (1,2,3,4,5,6,7,8,9,10)
print(new_tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
first, *middle, last = new_tup
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
print(new_tup[0:3])
print(new_tup[-3:])
print(new_tup[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [4]:
matrix = ((1,2,3), (4,5,6), (7,8,9))
print(matrix[1][2])

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [7]:
tup1, tup2 = (1,2,3), (4,5,6)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [51]:
tup = (1,2,2,3,2,4,4,5)
dummy_list=[]
for num in tup:
    if num in dummy_list:
        continue
    else:
        dummy_list.append(num)
for value in dummy_list:
    print(f"First occurance of",value,"is",tup.index(value),"and frequency is",tup.count(value))

First occurance of 1 is 0 and frequency is 1
First occurance of 2 is 1 and frequency is 3
First occurance of 3 is 3 and frequency is 1
First occurance of 4 is 5 and frequency is 2
First occurance of 5 is 7 and frequency is 1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [57]:
tuple_elements = (range(1,6))
a,b,c,d,e = tuple_elements
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [66]:
list = [1,2,3,4,5]
print(type(list))
converted_tuple = tuple(list)
print(converted_tuple)
print(type(converted_tuple))

<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [59]:
tuple_of_tuples = ((2,3,5),(4,4,6),(4,6,7))
print(tuple_of_tuples)
print(type(tuple_of_tuples))

((2, 3, 5), (4, 4, 6), (4, 6, 7))
<class 'tuple'>

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [1]:
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [10]:
another_string = "Hello World"
splitted_string = another_string.split(' ')
print(splitted_string)
tpl = ('H','e','l','l','o')
string = ''.join(tpl)
print(string)

['Hello', 'World']
Hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [12]:
tpl = ('Math','Science','Computers')
marks = {tpl[0]:95,tpl[1]:78,tpl[2]:86}
print(marks)
print(type(marks))

{'Math': 95, 'Science': 78, 'Computers': 86}
<class 'dict'>

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [13]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
for tup in nested_tuple:
    for number in tup:
        print(number)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [15]:
next_tuple = (1,3,4,2,4,2,3,4,5)
next_set = set(next_tuple)
print(next_set)
print(type(next_set))

{1, 2, 3, 4, 5}
<class 'set'>

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [18]:
def func(tup):
    maximum = max(tup)
    minimum = min(tup)
    summation = sum(tup)
    return maximum, minimum, summation

next_tuple = (1,3,5,6)
print(func(next_tuple))

(6, 1, 15)